---
layout: default
pagination:
  enabled: true
---
<!-- The main content area -->
<center><div><text style="font-size:28px;font-family:Lora;"> DAINIUS KACINSKAS </text></div></center>
<center><div><img src="../assets/images/profile.png" alt="Profile" style="width:50px;height:56px;"></div></center>
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in paginator.posts %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include post-card.html %}

      {% endfor %}
    </div>
  </div>

  {% include pagination.html %}
</div>
