<form id="form" class="form" action="{{ site.formcarry }}" method="POST" LINK="#1FOOFF" VLINK= "#000000" ALINK="#000000">

  
  <div>
    <label>E-Mail</label>
    <text> dainius@kacinskas.com </text>
  </div>
  
  <div>
    <label>LinkedIn</label>
    <text> <a href="https://www.linkedin.com/in/dainiuskacinskas/">linkedin.com/in/DainiusKacinskas</a> </text>
  </div>
  <div>
    <label>Instagram</label>
    <text> <a href="https://www.instagram.com/itsdainius/">instagram.com/itsDainius</a> </text>
  </div>

  
  <p class="form__message"></p>
</form>
