<form id="form" class="form" action="{{ site.formcarry }}" method="POST">

  
  <img src="/assets/images/profile.png" alt="Profile">
  <div>
    <label>E-Mail</label>
    <text> dainius@kacinskas.com </text>
  </div>
  
  <div>
    <label>LinkedIn</label>
    <text> <a href="https://www.linkedin.com/in/dainiuskacinskas/" style="color:black">linkedin.com/in/DainiusKacinskas</a> </text>
  </div>
  <div>
    <label>Instagram</label>
    <text> <a href="https://www.instagram.com/itsdainius/" style="color:black">instagram.com/itsDainius</a> </text>
  </div>

  
  <p class="form__message"></p>
</form>
